# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.idea/
/solver/Make/*/
/cmake-build-debug/

# Applications
/applications/*/Make/*/

# Cases
/cases/*/*/
!/cases/*/0
!/cases/*/constant
!/cases/*/system
/cases/*/*.log

# cases/porosityCoeff
!/cases/porosityCoeff/chemkin
!/cases/porosityCoeff/templates
